body {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  background-image: url("./kara-eads-AemWnTSPxoE-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}
